/* Global Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

.App {
  text-align: center;
  padding: 20px;
}

/* Header Styles */
h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

/* Search Form Styles */
form {
  margin-bottom: 40px;
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #218838;
}

/* Recipe List Styles */
.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.recipe {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 280px;
  margin: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.recipe:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.recipe img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.recipe h2 {
  font-size: 1.5rem;
  margin: 10px;
  color: #28a745;
}

.recipe p {
  margin: 10px;
  color: #777;
}

.recipe a {
  display: block;
  margin: 10px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  transition: color 0.3s;
}

.recipe a:hover {
  color: #0056b3;
}
